@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100%;
  background: 	#C0C0C0;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: 	rgb(239, 255, 255);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
nav .container {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #ADD8E6;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .container {
  left: 0;
}
.container .container-menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.container-menu .li-navbar {
  list-style: none;
}
.li-navbar .navigasi  {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.ul-navbar .navigasi:hover {
  background-color: #4070f4;
}
.navigasi .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.navigasi .link {
  font-size: 16px;
  color: black;
  font-weight: 400;
}
.ul-navbar .navigasi:hover .icon,
.ul-navbar .navigasi:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

/* CONTENT */
.container-fluid {
    padding-top: 67px;
    padding-bottom: 2px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #00BBBB;
}

.row {
  width: 100%;
  height: 50px auto;
}

.col {
  width: auto;
  height: 50% auto;
  margin: 30px;
  text-align: center;
  background-color: 	#B0C4DE;
}

.row2 {
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 20px;
  background-color: #FFF8DC;
}

.content {
  width: auto;
}

.judul {
  margin: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border: 1px solid black;
}

.activity {
  list-style: none;
}

.volum {
  padding: 25px;
  border-bottom: 1px solid black;
}

.no {
  padding: 10px;
  margin-left: 30px;
}

.bold {
  list-style: none;
}