@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  /* min-height: 100%; */
  background:  rgb(124, 252, 2);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(239, 255, 255);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
nav .container {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #ADD8E6;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .container {
  left: 0;
}
.container .container-menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.container-menu .li-navbar {
  list-style: none;
}
.li-navbar .navigasi  {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.ul-navbar .navigasi:hover {
  background-color: #4070f4;
}
.navigasi .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.navigasi .link {
  font-size: 16px;
  color: black;
  font-weight: 400;
}
.ul-navbar .navigasi:hover .icon,
.ul-navbar .navigasi:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

/* DAFTAR MAHASISWA */
.table_header {
  text-align: center;
  padding: 13px;
  font-size: 18px;
  background-color: rgb(240, 240, 240);
  margin-top: 75px;
}

.table_header p {
  color: #000;
}

.table_section {
  height: 480px;
  overflow: auto;
}

.tbl {
  width:  100%;
  margin-top: 5px;
  table-layout: fixed;
  min-width: 1000px;
  background-color: white;
}

.thead th {
  top: 0;
  background-color: rgb(105, 105, 105);
  color: #e6e7e8;
  font-size: 15px;
}

th, td {
  border-bottom: 1px solid #dddddd;
  padding: 15px 10px;
  word-break: break-all;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #edeef1;
}

tr:hover td {
  color:#4070f4;
  cursor: pointer;
  background-color: #f6f9fc;
}

button {
  border: 0.1px solid black;
  border-radius: 5px;
}

.edit {
  padding: 1px;
  background-color: #59c9f1;
}

.edit:hover {
  background-color: 	#E6E6FA;
}

.delete{
  padding: 1px;
  background-color: red;
}

.delete:hover {
  background-color: 	#E6E6FA;
}

button:hover {
  cursor: pointer;
}

.tambah {
  width: auto;
  height: 31px;
  background-color: #8493a5;
  margin-top: 5px;
  padding: 5px;
}

.add {
  float: right;
  width: 65px;
  height: 25px;
  margin-right: 50px;
  background-color: #0298cf;
}

.add:hover {
  background-color: 	#E6E6FA;
}

::placeholder {
  color: #0298cf;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0, 0, 0, 3);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgb(0, 0, 0, 3);
}

/* POPUP TAMBAH DATA */
.container-popup {
  width: 100%;
  height: 100vh;
  background-color:  rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.content-popup {
  width: 100vh;
  height: 500px;
  background-color: white;
  position: relative;
  padding: 50px;
  padding-top: 10px;
}

.exit {
  position: absolute;
  right: 14px;
  top: 5px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}


.contentpopup form .user-detailspopup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-detailspopup .input-box-popup {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box-popup span.detailspopup {
  font-weight: 500;
  margin-bottom: 5px;
}

.user-detailspopup .input-box-popup input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-detailspopup .input-box-popup input:focus,
.user-detailspopup .input-box-popup input:valid {
  border-color: #9b59b6;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .button {
  height: 45px;
  margin-left: 100px;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.button {
  padding-right: 100px;
}

form .button input:hover {
  transform: scale(0.99);
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

/* EDIT DATA */
.popup {
  width: 100%;
  height: 725px;
  background-color:  rgba(0, 0, 0, 0.7);
  /* background: rgb(197, 24, 24); */
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.0);
  padding: 0 30px 30px;
  /* margin-top: 60px; */
  color: #333;
  visibility: hidden;
  /* transition: transform 0.4s, top 0.4s; */

}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.content-popup-edit {
  width: 100vh;
  height: 500px;
  left: 22%;
  background-color: white;
  position: relative;
  padding: 50px;
  padding-top: 10px;
  margin: 50px;
  margin-top: 70px;
}

.exit {
  position: absolute;
  right: 14px;
  top: 5px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.contentpopup form .user-detailspopup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-detailspopup .input-box-popup {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box-popup span.detailspopup {
  font-weight: 500;
  margin-bottom: 5px;
}

.user-detailspopup .input-box-popup input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-detailspopup .input-box-popup input:focus,
.user-detailspopup .input-box-popup input:valid {
  border-color: #9b59b6;
}


form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .button {
  height: 45px;
  margin-left: 100px;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.button {
  padding-right: 100px;
}

form .button input:hover {
  transform: scale(0.99);
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

/* HAPUS DATA */
.popuphapus {
  width: 100%;
  height: 100vh;
  background-color:  rgba(0, 0, 0, 0.7);
  /* background: rgb(197, 24, 24); */
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.0);
  text-align: center;
  padding: 0 30px 30px;
  /* margin-top: 60px; */
  color: #333;
  visibility: hidden;
  /* transition: transform 0.4s, top 0.4s; */

}

.open-popuphapus {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.content-popup-hapus {
  width: 100vh;
  height: 500px;
  background-color: white;
  position: relative;
  padding: 50px;
  padding-top: 10px;
}

.exit {
  position: absolute;
  right: 14px;
  top: 5px;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.contentpopup form .user-detailspopup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-detailspopup .input-box-popup {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box-popup span.detailspopup {
  font-weight: 500;
  margin-bottom: 5px;
}

.user-detailspopup .input-box-popup input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-detailspopup .input-box-popup input:focus,
.user-detailspopup .input-box-popup input:valid {
  border-color: #9b59b6;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .button {
  height: 45px;
  /* margin: 35px 0; */
  margin-left: 100px;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.button {
  padding-right: 100px;
}

form .button input:hover {
  transform: scale(0.99);
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}