@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100%;
  background:  rgb(124, 252, 2);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(239, 255, 255);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
nav .container {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color:#ADD8E6;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .container {
  left: 0;
}
.container .container-menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.container-menu .li-navbar {
  list-style: none;
}
.li-navbar .navigasi  {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.ul-navbar .navigasi:hover {
  background-color: #4070f4;
}
.navigasi .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.navigasi .link {
  font-size: 16px;
  color: black;
  font-weight: 400;
}
.ul-navbar .navigasi:hover .icon,
.ul-navbar .navigasi:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}


/* DAFTAR MAHASISWA */
.table_header {
  text-align: center;
  padding: 13px;
  font-size: 18px;
  background-color: rgb(240, 240, 240);
  margin-top: 75px;
  /* justify-content: space-between; */
}

.table_header p {
  color: #000;
}

.table_section {
  height: 480px;
  overflow: auto;
}

.tbl {
  width:  100%;
  margin-top: 5px;
  table-layout: fixed;
  min-width: 1000px;
  background-color: white;
}

.thead th {
  /* position: sticky; */
  top: 0;
  background-color: rgb(105, 105, 105);
  color: #e6e7e8;
  font-size: 15px;
}

th, td {
  border-bottom: 1px solid #dddddd;
  padding: 15px 10px;
  word-break: break-all;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #edeef1;
}

tr:hover td {
  color:#4070f4;
  cursor: pointer;
  background-color: #f6f9fc;
}

.caption {
    width: auto;
    height: 31px;
    background-color: #8493a5;
    margin-top: 5px;
    padding: 5px;
}

::placeholder {
  color: #0298cf;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0, 0, 0, 3);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgb(0, 0, 0, 3);
}