@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100%;
  background: #C0C0C0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(239, 255, 255);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}

.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}

.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}

nav .container {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #ADD8E6;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

nav.open .container {
  left: 0;
}

.container .container-menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}

.container-menu .li-navbar {
  list-style: none;
}

.li-navbar .navigasi {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.ul-navbar .navigasi:hover {
  background-color: #4070f4;
}

.navigasi .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}

.navigasi .link {
  font-size: 16px;
  color: black;
  font-weight: 400;
}

.ul-navbar .navigasi:hover .icon,
.ul-navbar .navigasi:hover .link {
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}

nav.open~.overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

/* DASHBOARD */
:root {
  --bg-primary: rgb(182, 187, 173);
  --bg-secondary: #eaeaea4b;
  --txt--primary: #f7f7f7;
  --txt--scondary: #222222;
}

.container {
  padding-top: 70px;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: var(--bg-primary);
}

.wrapper {
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  height: 500px;
  background-color: var(--bg-secondary);
  color: var(--txt-scondary);
  padding: 30px;
  margin: 8px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

.deskripsi {
  font-size: 16px;
  padding: 10 px 0;
}

.ul-deskripsi {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  padding: 20px 0;
}

.ul-deskripsi li {
  font-family: sans-serif;
  width: 100%;
  font-size: 16px;
  text-align: left;
  padding: 2px;
}

/* .ul-deskripsi li:not(:last-child) {
  border-bottom: 1px solid #bbb;
} */

.btn {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-weight: 500;
  display: inline-block;
  padding: 14px 28px;
  border-radius: 100px;
  display: block;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 30px;
}

.matkul .btn {
  border: 2px solid #87CEEB;
  background-color: rgb(240, 248, 254);
}

.matkul .btn:hover {
  background-color: rgb(176, 196, 222);
}

/* POPUP */
.popup {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, .8);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .5s .1s;
}

.popup-deskripsi {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 20px 40px rgb(0, 0, 0, 2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.25);
  opacity: 0;
  transition: all .5s .1s;
}

.popup-jpg {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.popup-jpg img {
  display: block;
  width: 33.3333%;
}

.popup-header {
  text-align: center;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 36px;
}

.popup-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.popup-text {
  font-size: 12px;
  text-indent: 45px;
  margin: 15px;
  text-align: justify;
  padding: 0 36px;
  line-height: 1.4;
}

.popup-text p:not(:last-child) {
  margin-bottom: 16px;
}

.popup-btn {
  display: block;
  margin-top: 8px;
  margin-left: 40%;
  margin-right: 40%;
  border: 2px solid blue;
  background-color: #B0C4DE;
}

.popup-btn:hover {
  background-color: #D8BFD8;
}

#popup1:target {
  opacity: 1;
  visibility: visible;
}

#popup1:target .popup-deskripsi {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#popup2:target {
  opacity: 1;
  visibility: visible;
}

#popup2:target .popup-deskripsi {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#popup3:target {
  opacity: 1;
  visibility: visible;
}

#popup3:target .popup-deskripsi {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}


#popup4:target {
  opacity: 1;
  visibility: visible;
}

#popup4:target .popup-deskripsi {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#popup5:target {
  opacity: 1;
  visibility: visible;
}

#popup5:target .popup-deskripsi {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#popup6:target {
  opacity: 1;
  visibility: visible;
}

#popup6:target .popup-deskripsi {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup-close:link,
.popup-close:visited {
  position: absolute;
  top: 12px;
  height: 20px;
  text-decoration: none;
  color: #000;
  font-size: 30px;
  display: inline-block;
  line-height: 1;
  transition: all .3s;
}

.popup-close:hover,
.popup-close:active {
  color: black;
  float: right;
}

.close {
  margin-left: 10px;
  height: 50px;
  width: 40px;
}

/* RESPOMSIVE */
@media  screen and (min-width: 390) {
  .popup {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 476px) {
  .popup-deskripsi {
    width: 100%;

  }
}