@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
   background-image: url(../../../asset/jpg/background.jpg);
   padding: 10px 10px;
}

.wrapper {
    max-width: 600px;
    width: 100%;
    background: 	RGB(230, 230, 250);
    margin: 10px auto;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    padding: 25px;
}

.wrapper .text {
    font-size: 25px;
    margin-bottom: 25px;
    color: black;
    text-align: center;
}

.wrapper .box .inputtext { 
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .box .inputtext label {
    width: 200px;
    color: #303030;
    margin-right: 10px;
    font-size: 15px;
}

.wrapper .box .inputtext .input,
.wrapper .box .inputtext {
    width: 100%;
    outline: none;
    border: 1px solid #bac4c0;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.wrapper .box .inputtext .input:focus,
.wrapper .box .inputtext:focus,
.wrapper .box .inputtext:focus {
    border: 1px solid rgb(119, 136, 153);
}

.wrapper .box .inputtext :before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.wrapper .box .inputtext  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}

.wrapper .box .inputtext .btn {
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: blue;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .box .inputtext .btn:hover {
    color: rgb(68, 68, 68);
    background: #447fee;
}

.wrapper .box .inputtext:last-child {
    margin-bottom: 0;
}

/* POPUP  */
.popup {
    width: 400px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    margin-top: 60px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow: 0 20px 40px rgb(0, 0, 0,  2);
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -15%;
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 10px 0  10px;
}

.oke {
    width: 100%;
    margin-top: 35px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.back {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background: red;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.oke:hover {
    color: #333;
    background-color: #8FBC8F;
    transition: all 0.3s ease;
}

.back:hover {
    color: #333;
    background-color: 	#E9967A;
    transition: all 0.3s ease;
}

/* RESPONSIF */
@media (max-width:420px) {
    .wrapper .box .inputtext {
        flex-direction: column;
        align-items: flex-start;
    }

    .wrapper .box .inputtext label {
        margin-bottom: 5px;
    }

    .wrapper .box .inputfield.terms {
        flex-direction: row;
    }
}