@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  /* width: 100%; */
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #C0C0C0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(239, 255, 255);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}

.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}

.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}

nav .container {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #ADD8E6;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

nav.open .container {
  left: 0;
}

.container .container-menu {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}

.container-menu .li-navbar {
  list-style: none;
}

.li-navbar .navigasi {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.ul-navbar .navigasi:hover {
  background-color: #4070f4;
}

.navigasi .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}

.navigasi .link {
  font-size: 16px;
  color: black;
  font-weight: 400;
}

.ul-navbar .navigasi:hover .icon,
.ul-navbar .navigasi:hover .link {
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}

nav.open~.overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

/* CONTENT PROFIL */
.container2 {
  margin-top: 75px;
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 35px;
  font-weight: 10px;
}

.img {
  text-align: center;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 12px;
}

form .user-details .input-box {
  margin-bottom: 25px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .date {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  font-family: sans-serif;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.date {
  display: flex;
  align-items: center;
}

form .button {
  height: 45px;
  margin: 5px;
}

/* BUTTON */
form .button .input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #f10a0a, #38054d);
}

form .button input:hover {
  transform: scale(0.99);
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}


/* POPUP UPDATE  */
.bg-modal {
  width: 100%;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  /* width: 500px;
  height: 800px; */
  width: 100vh;
  height: 500px;
  background-color: white;
  border-radius: 6px;
  position: relative;
  padding: 50px;
  padding-top: 10px;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.contentpopup form .user-detailspopup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-detailspopup .input-box-popup {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box-popup span.detailspopup {
  font-weight: 500;
  margin-bottom: 5px;
}

.user-detailspopup .input-box-popup input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-detailspopup .input-box-popup input:focus,
.user-detailspopup .input-box-popup input:valid {
  border-color: #9b59b6;
}

/* form .gender-detailspopup .gender-title {
  font-size: 20px;
  font-weight: 500;
} */

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* 
form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
} */

form .button {
  height: 45px;
  margin: 35px 0
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
  transform: scale(0.99);
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

/* RESPONSIVE CONTENT */
@media(max-width: 584px) {
  .container2 {
    margin-top: 70px;
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 2px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

/* RESPONSIVE POPUP */
@media(max-width: 584px) {
  .containerpopup {
      max-width: 100%;
  }

  form .user-detailspopup .input-box-popup {
      margin-bottom: 15px;
      width: 100%;
  }

  form .category {
      width: 100%;
  }

  .contentpopup form .user-detailspopup {
      max-height: 300px;
      overflow-y: scroll;
  }

  .user-detailspopup::-webkit-scrollbar {
      width: 5px;
  }
  .modal-content {
    margin-top: 70px;
    max-width: 100%;
  }
}

